/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none; border: none;
  transition: all .2s linear;
}

html{ 
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f7f7f7;
  box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
}


/* Header Styles */

.site-header{
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.site-header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: black;
}
.site-header .logo i{
  color: #A97E53;
}
.site-header .nav a{
  font-size: 1.7rem;
  margin: 0 1rem;
  color: black;
}

.nav a.active {
  font-weight: bold; /* Example: make active link bold */
  border-bottom: 1px solid #0712a9;
  color: #0712a9;
}

.site-header .nav a:hover{
  color: #0712a9;
}

.site-header .icons div{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: .5rem;
  background: #eee;
  color: black;
  font-size: 2rem;
  margin-right: .3rem;
  text-align: center;
  cursor: pointer;
}
.site-header .icons div:hover{
  background: #0712a9;
  color: #fff;
}
#menu-hmbtn{
  display: none;
}

.site-header .search-form{
  position: absolute;
  top: 110%;
  right: -110%;
  width: 50rem;
  height: 5rem;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: .5rem;
}
.site-header .search-form.active{
  right: 2rem;
  transition: .4s linear;
}
.site-header .search-form input{
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: black;
  padding: 0 1.5rem;
}
.site-header .search-form label{
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color: black;
  cursor: pointer;
}
.site-header .search-form label:hover{
  color: #0712a9;
}
.site-header .shopping-cart{
  position: absolute;
  top: 110%;
  right: -110%;
  padding: 1rem;
  border-radius: .5rem;
  width: 30rem;
  background: #fff;
}
.site-header .shopping-cart .box{
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: 1rem 0;
}
.site-header .shopping-cart h2{
  font-size: 2.5rem;
  text-align: center;
  color: #0712a9;
  font-weight: bolder;
}
.site-header .shopping-cart .box .fa-trash{
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  cursor: pointer;
  color: #888;
  transform: translateY(-50%);
}
.site-header .shopping-cart .box .fa-trash:hover{
  color: #0712a9;
}
.site-header .shopping-cart .checkout-btn{
  display: block;
  text-align: center;
  margin-top: 1rem;
  padding: .8rem 3rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  border: .1rem solid black;
  color: black;
  cursor: pointer;
  margin: 1rem;
}
.site-header .shopping-cart .checkout-btn:hover{
  background: #0712a9;
  color: #fff;
}

.site-header .shopping-cart.active{
  right: 2rem;
  transition: .4s linear;
}

/* Footer Styles */
.site-footer {
  background-color: #0712a9;
  padding: 1em;
  text-align: center;
  color: #fff;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5em;
  margin-top: 1em;
}

.social-links li a {
  color: #FDF5E6;
  font-size: 1.2em;
  transition: color 0.3s ease;
  text-decoration: none;
}

.social-links li a:hover {
  color: #483C32;
}

/*LOG IN STYLES*/
.login-main{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-image: url('RobielHome.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.background-blur {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url('RobielHome.jpg');
background-size: cover;
background-position: center;
filter: blur(2px);
}

.login-container {
display: flex;
flex-direction: column;
align-items: center;
color: #333;
background-color: rgba(255, 255, 255, 0.7);
padding: 20px;
border-radius: 10px;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
z-index: 1; /* Ensure the form is above the background */
}

.login-container h1 {
text-align: center;
margin-bottom: 20px;
font-size: 2rem;
color: #0712a9;
}

.login-container h5 {
  
  margin-bottom: 5px;
  color: #0712a9;
  }

.login-container form{
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* Add spacing between the two forms */
}


.login-container input[type="text"]{
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #0712a9;
  border-radius: 5px;
}
.login-container input::placeholder{
  color: #0712a9;
}

.checkbox-group {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

input[type="radio"] {
  margin-right: 10px;
}

label {
  font-size: 16px;
  color: #0712a9;
}

button {
padding: 10px;
background-color: #0712a9;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background-color: #0712a9;
}

.error-message {
color: red;
font-size: 10px;
margin-top: 5px;
margin-bottom: 5px;
}

#ageConfirmation{
 margin-bottom: 1rem;
}

#ageConfirmation label {
  font-weight: bold; /* Make the label bold */
  font-size: 1.5rem; /* Increase font size */
  display: block; /* Make it block level to occupy full width */
  margin-bottom: 5px; /* Space between the label and the input */
}

/* Container for the birthday input */
#birthdayInput {
  position: relative; /* Position relative for the error message */
}

#birthdayInput input[type="date"] {
  width: 100%; /* Full width */
  padding: 10px; /* Padding inside the input */
  font-size: 16px; /* Increase font size */
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #0712a9;
  margin-bottom: 1rem;
  transition: border-color 0.3s; /* Smooth transition on focus */
  color: #A97E53;
}

/* Change border color on focus */
#birthdayInput input[type="date"]:focus {
  border-color: #007BFF; /* Change border color on focus */
  outline: none; /* Remove outline */
}

/* HOMEPAGE Styles */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('homepic.jpg') no-repeat;
  background-size: cover;
  padding-top: 17rem;
  padding-bottom: 10rem;
  color: black;
  position: relative;
  background-position: center;
}
.home-bg-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('homepic.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  }

.hero .home-content{
  width: 60rem;
  z-index: 1;
}

.hero .home-content h2{
  color: #eee;
  font-size: 1.9rem;

}
.hero .home-content h2 span{
  color: #fff;
  font-style: italic;
}
.hero .home-content p{
  font-size: 1.8rem;
  color: #000;
}
.heading{
  padding: 2rem 0;
  text-align: center;
  padding-bottom: 3rem;
  font-size: 3.5rem;
  color: black;
}
.heading span{
  background: #0712a9;
  color: #fff;
  display: inline-block;
  padding: .3rem 3rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
  font-style: italic;
}

/* Features Section Styles */
.home-heading{
  padding: 2rem 9%;
}
.home-heading .feature{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.home-heading .feature .feature-box{
  padding: 3rem 4rem;
  background: #eee;
  outline: 1px solid #0712a9;
  outline-offset: -1rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: .5rem;
}
.home-heading .feature .feature-box img{
  margin: 1rem 0;
  height: 15rem;
}
.home-heading .feature .feature-box p{
  font-size: 1.5rem;
  line-height: 1.8;
  padding: 1rem 0;
}
.home-heading .feature .feature-box:hover{
  outline: 1px solid black;
  outline-offset: 0rem;
}

/* Product css style */
.best-seller{
  padding: 2rem 9%;
}
.best-seller .seller-box{
  padding: 1rem;
}

.best-seller .seller-box:first-child{
  margin-bottom: 2rem;
}
.seller-box .first-section{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.best-seller .seller-box .firstsection-box{
  padding: 3rem 4rem;
  background: #eee;
  outline: 1px solid #0712a9;
  outline-offset: -1rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: .5rem;
}
.best-seller .seller-box .firstsection-box:hover{
  outline: 1px solid black;
  outline-offset: 0rem;
}
.best-seller .seller-box .firstsection-box img{
  margin: 1rem 0;
  height: 15rem;
  width: 100%;
  height: auto;
}
.best-seller .seller-box .firstsection-box h3{
  font-size: 2.3rem;
  color: black;
}
.best-seller .seller-box .firstsection-box .check-btn{
  display: block;
  text-align: center;
  margin-top: 1rem;
  padding: .8rem 3rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  border: .2rem solid black;
  color: black;
  cursor: pointer;
  margin: 1rem;
}
.best-seller .seller-box .firstsection-box .check-btn:hover{
  background: #0712a9;
  color: #fff;
}
.best-seller .seller-box .firstsection-box .price{
  font-size: 2rem;
  color: #555;
  padding: .5rem 0;
}
.best-seller .seller-box .firstsection-box .stars i{
  font-size: 1.7rem;
  color: #0712a9;
  padding: .5rem 0;
}
.best-seller .bfast{
  font-size: 3rem;
  color: #0712a9;
  font-weight: bolder;
  margin-bottom: 2rem;
}


/* MENU STYLE */
.content-main {
  /*padding: 4em 2em;
  max-width: 1200px;
  margin: 0 auto;*/
  position: relative;
  height: 130vh; /* Set the main section to take up the full height of the viewport */
  background-image: url('RobielMenu.jpg'); /* Replace with your background image */
  background-size: cover;
  background-position: center;
  
}

.menu {
  padding: 1em;
  position: relative; /* Add position relative to hero section */
  z-index: 1; /* Add z-index to hero section to bring it above the background image */
  color: #FAF3E0; /* Add white text color to hero section */  
  padding-top: 12rem;
  padding-bottom: 8rem;
}
.menu .menu-box{
  padding: 1rem;
}

.menu .menu-box:first-child{
  margin-bottom: 2rem;
}
.menu-box .menu-a{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .menu-box .a-box{
  padding: 3rem 4rem;
  background: #eee;
  outline: 1px solid #0712a9;
  outline-offset: -1rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: .5rem;
}
.menu .menu-box .a-box:hover{
  outline: 1px solid black;
  outline-offset: 0rem;
}
.menu .menu-box .a-box img{
  margin: 1rem 0;
  height: 15rem;
  width: 100%;
  height: auto;
}
.menu .menu-box .a-box h3{
  font-size: 2.3rem;
  color: black;
}
.menu .menu-box .a-box .check-btn{
  display: block;
  text-align: center;
  margin-top: 1rem;
  padding: .8rem 3rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  border: .2rem solid black;
  color: black;
  cursor: pointer;
  margin: 1rem;
}
.menu .menu-box .a-box .check-btn:hover{
  background: #0712a9;
  color: #fff;
}
.menu .menu-box .a-box .content{
  font-size: 2rem;
  color: #555;
  padding: .5rem 0;
}
.menu .menu-box .a-box .stars p{
  font-size: 1.7rem;
  color: #0712a9;
  padding: .5rem 0;
}
.menu .bfast{
  font-size: 3rem;
  color: #fff;
  font-weight: bolder;
}



/* ABOUT CONTENT STYLE */
.about-main {
  /*padding: 4em 2em;
  max-width: 1200px;
  margin: 0 auto;*/
  position: relative;
  height: 110vh; /* Set the main section to take up the full height of the viewport */
  background-image: url('RobielAbout.jpg'); /* Replace with your background image */
  background-size: cover;
  background-position: center;
}

.intro-section {
  padding: 2em;
  text-align: center;
  position: relative; /* Add position relative to hero section */
  z-index: 1; /* Add z-index to hero section to bring it above the background image */
  color: #FAF3E0; /* Add white text color to hero section */
}

.intro-section h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.intro-section p {
  font-size: 1.2em;
  color: #555;
}

.about-section {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 2em;
}

.text-container {
  flex: 1;
}

.text-container h2 {
  font-size: 2em;
  color: #FAF3E0;
  margin-bottom: 0.5em;
  margin-right: 100px;
  margin-left: 100px;
}

.text-container p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 75px;
  color: #FAF3E0; /* Add white text color to hero section */
  /*border: 0px solid #F7F4E9; /* Add white border to features */
  background-color: #2E492B;
  opacity: 0.8;
  border-radius: 10px;
}

.text-container ul {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  color: #FFFFFF; /* Add white text color to hero section */
  /*border: 0px solid #F7F4E9; /* Add white border to features */
  background-color: #2E492B;
  opacity: 0.8;
  border-radius: 10px;
}

.text-container ul {
  padding-left: 20px;
}

.text-container ul li {
  margin-bottom: 0.5em;
}

/* CONTACT US STYLE */
.contactus-main {
  position: relative;
  height: 25; 
  background-image: url('RobielMenu.jpg'); /* Replace with your background image */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  height: 100vh;          
  text-align: center;
}

.contactus-main form {
  padding: 20px;          
  border-radius: 10px;     
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background-color: rgba(255, 255, 255, 0.353); 
}

.contactus-main form h1{
  margin-bottom: 20px;
  font-weight: 800;
  color: #0712a9;
}

.contact-form input,
form textarea{
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: black;
  margin-bottom: 20px;
  border-radius: 8px;
}
.contact-form input::placeholder,
form textarea::placeholder{
  color: #0712a9;
  font-size: 15px;
}
.send-btn{
  display: inline-block;
  padding: 11px 26px;
  background: #0712a9;
  color: white;
  border: 2px black;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  transition: all .50s ease;
  width: 100%;
}
.send-btn:hover{
  background: #0712a9;
  color: white;
  box-shadow: 0 0 20px;
}
/* Modal styling */
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fff;
  margin: 10% auto; 
  padding: 15px; 
  border: 1px solid #888;
  width: 50%; 
  max-width: 400px; 
  text-align: center;
  border-radius: 8px; 
}

.close-btn {
  color: #000;
  float: right;
  font-size: 24px; 
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  color: red; 
  }

  /*Access-Denied CSS style*/
  .denied-site{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  .denied-site i{
    font-size: 10rem;
    color: #dc3545;
    margin-bottom: 20px;
  }
  .denied-site h1{
    font-size: 4rem;
  }
  .denied-site p{
    font-size: 2rem;
    color: #888;
  }
  .denied-content button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: white; /* Text color */
    background-color: #0712a9; /* Button background color */
    border: none; /* Remove default border */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }

  .denied-content button:hover{
    background-color: #0712a9; 
  }
/* Responsive Design */

@media (max-width: 768px) {
  #menu-hmbtn{
    display: inline-block;
  }
  .site-header .search-form{
    width: 90%;
  }
  .site-header .nav {
      position: absolute;
      top: 110%;
      right: -110%;
      width: 30rem;
      border-radius: .5rem;
      background: #fff;
      text-align: center;
    }
    .site-header .nav.active{
      right: 2rem;
      transition: .4s linear;
    }
    .site-header .nav a{
      font-size: 2rem;
      margin: 2rem 2.5rem;
      display: block;
    }
  section{
    padding: 2rem;
  }

  .about-content {
      flex-direction: column;
  }

  .text-container h2 {
      font-size: 1.8em;
  }

  .intro-section h1 {
      font-size: 2em;
  }
}

@media (max-width: 480px) {
  .site-header {
      flex-direction: column;
      text-align: center;
  }

  .logo {
      margin-bottom: 1em;
  }

  .intro-section h1 {
      font-size: 1.8em;
  }

  .text-container h2 {
      font-size: 1.6em;
  }
}

/* Access Denied Page */
.access-denied {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh; /* Full height of the viewport */
  text-align: center; /* Center text */
  background-color: #f7f7f7; /* Optional: set background color */
}

.access-denied img {
  width: 150px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 20px 0; /* Add some space above and below the image */
}

/*Restricted Area css style*/

.restricted-main {
  /* Center the content horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  background-color: #2f2f2f; /* Dark gray-blue background */
  border: 1px solid #434a54; /* Dark gray-blue border */
  padding: 20px;
  text-align: center;
}

.restricted-page h1 {
  /* Make the heading stand out with a bold, warning color */
  color: #0712a9; /* Bright orange-yellow color for the text */
  font-size: 2.5rem; /* Even larger font size */
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add a subtle shadow to the text */
}

.restricted-page h1::before {
  /* Add a warning icon before the heading */
  font-family: 'Font Awesome 5 Free';
  content: '\f071';
  margin-right: 10px;
  color: #0712a9;
}

.restricted-page {
  /* Add a warning or alert-like styling to the restricted page container */
  background-color: #363636; /* Dark gray background */
  padding: 20px;
  border: 1px solid #434a54; /* Dark gray-blue border */
  border-radius: 10px;
}